@page
@model UserCode.Pages.SignIn.forgotPasswordModel
@{
}
<h4>Nhập địa chỉ email của tài khoản</h4>
<hr />
<div class="col-md-4">
    <form method="post" asp-page="OnPostAsync">
        <div class="form-group">
          @ViewData["checkmail"]
            <tr>
                <td>email</td>
                <td>
                    <input type="text" name="email" />
                </td>
            </tr>
            <br />
           @* <tr>
                <td>ma xac nhan</td>
                <td>
                    <input type="text" name="otpcheck" id="otpcheck" />
                </td>
            </tr>*@
            <input type="submit" class="btn btn-primary" value="gữi OTP" />
        </div>  
         @*<input type="submit" class="btn btn-primary" value="xac nhan"/>*@
    </form>
          
</div>