@page
@model UserCode.Pages.SignIn.ResetPasswordModel
@{

}
<h1>Reset password</h1>
<div class="col-md-4">
    <form method="post">
        <div class="form-group">
            <label>email</label>
            <input type="text" name="email" />
            <br />
            <label>mật khẩu mới</label>          
            <input type="text" name="password" />
            <br />
            <label>xác nhận mật khẩu mới</label>
            <input type="text" name="paswordConfirm" />
        </div>
        <button type="submit" class="btn btn-primary">xác nhận</button>
    </form>
</div>